body{
  padding:0;
  margin:0;
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  letter-spacing:2px;
  text-align:center;
  color:white;
  background-color:rgb(68, 63, 71);
}
.txtb{
  font-size:28px;
}
header {
  background-color:rgba(5, 2, 2, 0.219);
  height:50px;
  position:fixed;
  z-index:100;
  width:100%;
}
.header-container {
  display:flex;
  justify-content: flex-end;
}
.header-container a{
  color:white;
  text-decoration: none;
  display:inline-block;
  height:50px;
  line-height:53px;
  padding:0 20px;
}
.header-container a:hover{
  transition:.3s;
  background-color:rgba(5, 2, 2, 0.219);
}
.header-margin{
  margin-right:20px;
}
.main-wrapper {
  background-image: url(img/dots.png);
  text-align:center;
  padding:250px 0 0 0;
  background-size:cover;
  background-position:center;
  height:500px;
  font-size:40px;
  background-color:black;
}
.my-name {
  text-shadow: 0 0 3px white;
  letter-spacing:6px;
  opacity: 0;
}
.bold-border {
  background-color:rgb(51, 51, 94);
  text-align:center;
  text-shadow: 0 0 3px #ffffff;
  padding:12px;
}
.tryangle span{
  border-left: 28px solid transparent;
  border-left: 56px solid transparent;
  border-right: 56px solid transparent;
  border-top: 18px solid rgb(51, 51, 94);;;
  width:0;
  height:0px;
  margin:0 auto;
  position:relative;
  top:18px;
}
.about-wrapper {
  padding:100px 15%;
}
.my-face {
  width:32%;
  height:100%;
  border-radius:50%;
  margin-right:13%;
  box-shadow: 35px 35px 0 black;
  border: 1px solid black;
}
.about-container {
  display: flex;
}
.status {
  text-align:left;
  text-shadow: 0 0 1px #ffffff;
  line-height: 35px;

}
.status h1 {
  font-weight:normal;
  font-size:23px;
  margin-top:15px;
}
.works-wrapper {
  padding:100px 0;
}
.works-container {
  width:97%;
  display: flex;
  flex-wrap:wrap;
  margin:0 auto;
}
.works-container img{
 display: block;
 border-radius:3px;
 width:100%;
 height:100%;
}
.works-container a {
 width:420px;
 border-radius:3px;
 margin:0 auto;
 margin-bottom:50px;
 position:relative;
 transition:.3s;
}
.works-wrapper .txts {
  text-align:right;
  background-color:rgba(0, 0, 0, 0.767);
  position:absolute;
  bottom:10px;
  right:17px;
  margin:0;
  border-radius:20px;
  color:white;
  letter-spacing:7px;
  padding:5px 10px 5px 15px;
  font-weight:bold;
  display:block;
}
.works-wrapper span{
  letter-spacing: 2px;
}
.skills-wrapper {
  display:flex;
  flex-wrap:wrap;
  padding:100px 3%;
}
.skill {
  box-sizing:border-box;
  width:calc(100% / 3 - 20px);
  margin:0 auto;
  padding:20px;
  background-color: rgb(54, 49, 56);
  border-radius:20px;
  box-shadow: 3px 3px 0 black;
  margin-bottom:15px;
}
.skill:hover {
  box-shadow: none;
  position:relative;
  top:3px;
  left:3px;
  transition:none;
}

.python .txtb, .fa-python{
  color:white;
  text-shadow: 0 0 4px white;
}
.html-css .txtb, .fa-code{
  color:rgb(145, 3, 3);
  font-weight:bold;
  text-shadow: 0 0 4px rgb(99, 3, 3);
}
.skills-wrapper .fas {
  font-size:170px;
}
.skills-wrapper .fab {
  font-size:170px;
}
.skills-wrapper .far {
  font-size:170px;
}
.skills-wrapper
.jquery .txtb, .fa-code-branch {
  color:rgb(226, 226, 4);
  font-weight:bold;
  text-shadow: 0 0 4px rgb(94, 100, 0);
}
.swift .txtb, .fa-swift {
  color: rgb(239 147 53);
  font-weight: bold;
  text-shadow: 0 0 4px rgb(250 167 82 / 54%);
}
.ruby .txtb, .fa-gem {
  color: #460000;
  font-weight: bold;
  text-shadow: 0 0 4px #8d3433;
}
.responsive .txtb, .fa-mobile-alt {
  color:rgb(31, 201, 130);
  font-weight:bold;
  text-shadow: 0 0 4px rgb(21, 129, 63);
}
.skills-wrapper .txts{
  margin:0 auto;
  font-size:20px;
  text-align:left
}
.contact-wrapper form {
  display: flex;
  flex-direction: column;
  padding:100px 3%;
}
.contact-wrapper input{
  margin-bottom:25px;
  padding:13px;
  border-radius:5px;
  border:1px solid black;
  box-shadow: 5px 5px 3px black;
  letter-spacing: 2px;
}
textarea {
  margin-bottom:45px;
  padding:13px;
  border-radius:5px;
  border:1px solid black;
  box-shadow: 5px 5px 3px black;
  font-size: 13.333333px;
  letter-spacing: 2px;
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  height:100px;
}
body .submit{
  background-color: rgb(60, 56, 77);
  height: 50px;
  border-radius: 30px;
  color: white;
  font-size: 23px;
  letter-spacing: 10px;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;
  padding:8px !important;
}
footer{
  text-align: center;
  background-color:rgb(58, 52, 63);
  padding:50px 0 0 20px;
}
footer a{
  text-decoration: none;
  color:white;
}
body footer .sns {
 font-size:40px;
}
footer .txts{
  font-size:12px;
  font-weight:normal;
  margin-top: 25px;
}
footer a {
  margin-right:10px;
  display:inline-block;
}
footer .fab{
  width:100%;
  height:100%;
}
footer .fab:hover{
  text-shadow:0 0 3px white;
  transition:.3s;
}
.fa-twitter {
  color:#55acee;
}
.fa-youtube {
  color:#cd201f;
}
.fa-instagram {
  color:#CF2E92;
}
.fa-github {
  color:#171515;
}
.effect div{
  transition:1s;
}
.fadeIn{
  transition:.7s;
  opacity:0;
  margin-right:-100px;
}
footer .link {
  margin:0;
  color:rgb(170, 117, 170);
}
.pc-none {
  display:none;
}
.fa-chevron-right {
  display:none;
  opacity:0;
  font-size: 25px;
  margin: 7px 0;
}
/* phpで実装できるまでの一時的な対処☟ */
.twitter-contact .fab{
  font-size:200px;
  margin-bottom:50px;
}
.twitter-contact .fab:hover{
  text-shadow: 0 0  5px white;
  transition:.5s;
}
@media screen and (max-width:768px){
  .pc-none {
  display: block;
}
body .sp-none {
  display: none;
  opacity: 0;
}
header p{
  font-size:25px;
  margin: 6px 17px;
}
.header-container a{
  font-size: 10px;
  line-height: 33px;
  height: 100%;
  padding: 8.5px;
}
.about-container{
  flex-direction: column;
}
.status {
  text-align:center;
}
.my-face{
  margin:0 auto;
  box-shadow:20px 20px 0 black;
  width:60%;
}
.status {
  margin-top:25px;
}
.status h1{
  font-size:30px;
}
.works-wrapper {
  padding:50px 0;
}
.works-container a{
  width: 85%;
}
.skill {
  width:90%;
  margin-bottom: 55px;
}
.skills-wrapper{
  padding:50px 20px;
}
.sp-flex {
  display:flex;
}
.html-css .txtb{
  font-size: 25px;
}
.skills-wrapper .fas{
  font-size: 100px;
}
.skills-wrapper .txts{
  padding: 10px;
}
.skills-wrapper .txtb{
  margin-left: 5%;
  margin-top: 10%;
}
.jquery .sp-flex, .responsive .sp-flex{
  padding-left: 10%;
}
.contact-wrapper form{
  padding: 50px 3%;
}
.fadeIn {
  opacity:1 !important;
}
.jquery .txtb{
  margin-top: 50px;
}
}
